In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("chipotle.tsv",sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [3]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [4]:
df.shape

(4622, 5)

In [5]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [6]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [8]:
df.nunique()

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              78
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [10]:
df.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [11]:
df['choice_description'].isnull().sum()

1246

##### as there are too many missing values in the data, we cannot remove them so we are going to replace them as no choice

In [12]:
df['choice_description'].fillna(value='no choice', inplace=True)

In [13]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [14]:
df['item_price']=df['item_price'].str.replace('$',' ')

C:\Users\Mikey\AppData\Local\Temp\ipykernel_14120\3859696610.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['item_price']=df['item_price'].str.replace('$',' ')

In [15]:
df['item_price']=df['item_price'].astype(float)

In [16]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [17]:
duplicates = df[df.duplicated('order_id')]
print(duplicates)

      order_id  quantity                              item_name  \
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
6            3         1                          Side of Chips
8            4         1                       Steak Soft Tacos
...        ...       ...                                    ...
4614      1831         1                          Bottled Water
4616      1832         1                    Chips and Guacamole
4618      1833         1                          Steak Burrito
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description  item_price
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                             no choice        2.39
6                                             no choice        1.69
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...        9.25
...                                                 ...         ...
4614                                          no choice        1.50
4616                                          no choice        4.45
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

[2788 rows x 5 columns]

##### there should not be any duplicates in order_id so we can drop the duplicate values

In [18]:
df = df.drop_duplicates(subset=['order_id'])

In [19]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,no choice,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",8.75
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

In [20]:
df['choice_description'] = df['choice_description'].str.replace("[", "")
df['choice_description'] = df['choice_description'].str.replace("]", "")

C:\Users\Mikey\AppData\Local\Temp\ipykernel_14120\902573940.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['choice_description'] = df['choice_description'].str.replace("[", "")
C:\Users\Mikey\AppData\Local\Temp\ipykernel_14120\902573940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['choice_description'] = df['choice_description'].str.replace("[", "")
C:\Users\Mikey\AppData\Local\Temp\ipykernel_14120\902573940.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['choice_description'] = df['choice_description'].str.replace("]", "")
C:\Users\Mikey\AppData\Local\Temp\ipykernel_14120\902573940.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['choice_description'] = df['choice_description'].str.replace("]", "")

In [21]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,no choice,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98
5,3,1,Chicken Bowl,"Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...",10.98
7,4,1,Steak Burrito,"Tomatillo Red Chili Salsa, Fajita Vegetables, ...",11.75
9,5,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Pinto B...",9.25
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",11.75
4612,1831,1,Carnitas Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Rice, B...",9.25
4615,1832,1,Chicken Soft Tacos,"Fresh Tomato Salsa, Rice, Cheese, Sour Cream",8.75
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",11.25

In [22]:
df['choice_description'] = df['choice_description'].str.replace("Tomatillo Red Chili Salsa", "Tomatillo-Red Chili Salsa (Hot)")
df['choice_description'] = df['choice_description'].str.replace("Fresh Tomato Salsa", "Fresh Tomato Salsa (Mild)")

C:\Users\Mikey\AppData\Local\Temp\ipykernel_14120\3953086783.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['choice_description'] = df['choice_description'].str.replace("Tomatillo Red Chili Salsa", "Tomatillo-Red Chili Salsa (Hot)")
C:\Users\Mikey\AppData\Local\Temp\ipykernel_14120\3953086783.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['choice_description'] = df['choice_description'].str.replace("Fresh Tomato Salsa", "Fresh Tomato Salsa (Mild)")

### 1) quantity of each item?

In [23]:
counts = df['item_name'].value_counts()
counts

Chicken Bowl                             468
Chicken Burrito                          341
Steak Burrito                            235
Steak Bowl                               109
Chips and Guacamole                       82
Chicken Salad Bowl                        59
Veggie Burrito                            54
Barbacoa Burrito                          51
Barbacoa Bowl                             41
Canned Soft Drink                         40
Veggie Bowl                               39
Chicken Soft Tacos                        39
Carnitas Bowl                             36
Carnitas Burrito                          35
Bottled Water                             26
Steak Soft Tacos                          25
Steak Salad Bowl                          14
Steak Crispy Tacos                        14
Carnitas Soft Tacos                       13
6 Pack Soft Drink                         11
Barbacoa Soft Tacos                       11
Chicken Crispy Tacos                      11
Canned Soda                                9
Veggie Salad Bowl                          9
Side of Chips                              7
Chips and Tomatillo-Green Chili Salsa      6
Chicken Salad                              6
Chips                                      6
Nantucket Nectar                           5
Chips and Fresh Tomato Salsa               5
Barbacoa Salad Bowl                        3
Burrito                                    3
Barbacoa Crispy Tacos                      2
Steak Salad                                2
Chips and Tomatillo Green Chili Salsa      2
Chips and Roasted Chili Corn Salsa         2
Carnitas Crispy Tacos                      2
Bowl                                       2
Chips and Tomatillo Red Chili Salsa        2
Veggie Salad                               2
Veggie Soft Tacos                          1
Salad                                      1
Izze                                       1
Carnitas Salad Bowl                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

### 2) what was the most ordered item in the column "choice_description" ?

In [24]:
most_ordered = df['choice_description'].value_counts()
most_ordered

no choice                                                                                                 138
Fresh Tomato Salsa (Mild) (Mild), Pinto Beans, Rice, Cheese, Sour Cream                                    25
Fresh Tomato Salsa (Mild), Rice, Black Beans, Cheese, Sour Cream, Lettuce                                  25
Fresh Tomato Salsa (Mild), Rice, Black Beans, Cheese, Sour Cream                                           21
Fresh Tomato Salsa (Mild), Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce                       20
                                                                                                         ...
Roasted Chili Corn Salsa, Rice, Fajita Vegetables, Black Beans, Sour Cream, Cheese, Lettuce                 1
Roasted Chili Corn Salsa (Medium), Tomatillo-Green Chili Salsa (Medium), Rice, Black Beans, Sour Cream      1
Roasted Chili Corn Salsa (Medium), Cheese                                                                   1
Tomatillo-Red Chili Salsa (Hot), Fajita Veggies, Cheese, Sour Cream, Guacamole                              1
Tomatillo Green Chili Salsa, Rice, Black Beans                                                              1
Name: choice_description, Length: 737, dtype: int64

#### mostly people did not choose anything but diet coke was the most ordered "choice_description"

### 3) How many items were ordered in total

In [25]:
total_items = df["item_name"].count()
total_items

1834

### 4)How much was the revenue of the period in the dataset?

In [26]:
total_revenue = df['item_price'].sum()
total_revenue

17678.050000000003

### 5)How many orders were made in the period?

In [29]:
total_orders = df['order_id'].count()
total_orders

1834

### 6) What is the avg revenue amount in the period?

In [35]:
avg_rev = df['item_price'].mean()
avg_rev

9.639067611777538

### 7) how many different items are sold?

In [37]:
diff_items = df['item_name'].nunique()
diff_items

45

In [38]:
from IPython.display import FileLink

In [47]:
# Write the DataFrame to a CSV file
df.to_csv("chipotle.tsv", index=False)

# Download the CSV file
FileLink("chipotle.csv")

C:\Users\Mikey\chipotle.csv

In [ ]:
def processing(df,*col)
     df.columns = df.columns.str.lower().str.replace(' ','_')
     df.drop([col],axis = 1, inplace = True)
    df.dropna(axis = 0,inplace = True)
    return df